* {
  box-sizing: border-box; }

body {
  background: #444;
  color: white;
  height: 100%;
  margin: 0;
  font-family: 'segue UI','Segoe UI', Tahoma, Geneva, Verdana , sans-serif;
  line-height: 1.5; }
